@font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('./fonts/aFTU7PB1QTsUX8KYhh0.ttf') format('truetype');
}
.container {
    max-width: 70vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 32px;
    background: white;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
body {
    background: #113f67;
    font-family: "DM Mono", "Ubuntu Mono", monospace;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
    font-size: 48px;
    min-height: 62px;
    color: white;
}
.fan {
    width: 70vw;
    position: relative;
    height: 210px;
    margin: 0 auto;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
img {
    width: 150px;
    height: 210px;
   	position: absolute;
    pointer-events: none;
    user-select: none;
}
button {
    width: 70vw;
    left: 0pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Center the main content */
    border-width: 0px;
    border-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    appearance: none;
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    margin: 0px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    padding: 14px 16px; /* Default padding */
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
    position: relative; /* For absolute positioning of solution number */
}
button:hover {
    background-color: rgb(221, 221, 221);
}
button:active {
    background-color: rgb(198, 198, 198);
}
.card1 { left: 0; }
.card2 { left: calc((70vw - 150px) * 1/8); }
.card3 { left: calc((70vw - 150px) * 2/8); }
.card4 { left: calc((70vw - 150px) * 3/8); }
.card5 { left: calc((70vw - 150px) * 4/8); }
.card6 { left: calc((70vw - 150px) * 5/8); }
.card7 { left: calc((70vw - 150px) * 6/8); }
.card8 { left: calc((70vw - 150px) * 7/8); }
.card9 { left: calc(70vw - 150px); }
.red { color:#D40000; }
.symbol {
    font-size: 28.8px;
    margin-right: 10px
}
.ev {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
@media screen and (min-width: 840px) {
    .card1 { left: calc(0vw); }
    .card2 { left: calc((840px * 7/10 - 150px) * 1/8); }
    .card3 { left: calc((840px * 7/10 - 150px) * 2/8); }
    .card4 { left: calc((840px * 7/10 - 150px) * 3/8); }
    .card5 { left: calc((840px * 7/10 - 150px) * 4/8); }
    .card6 { left: calc((840px * 7/10 - 150px) * 5/8); }
    .card7 { left: calc((840px * 7/10 - 150px) * 6/8); }
    .card8 { left: calc((840px * 7/10 - 150px) * 7/8); }
    .card9 { left: calc(840px * 7/10 - 150px); }
    button {
        width: calc(840px * 7/10);
    }
    .fan {
        width: calc(840px * 7/10);
    }
    .container {
        width: calc(840px * 7/10);
    }
}
