.container {
    max-width: 70vw;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 32px;
    transform: translateY(0px);
    background: white;
    border-radius: 15px;
    padding: 30px;
    margin: 0 auto;
}
body {
    background: #113f67;
    font-family: "DM Mono", "Ubuntu Mono", monospace;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
    font-size: 3em;
    color: white;
}
.fan {
    width: 70vw;
    position: relative;
    height: 240px;
    margin: 0 auto;
}
.options {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 8px;
}
img {
    width: 150px;
   	position: absolute;
    pointer-events: none;
    user-select: none;
}
button {
    width: 70vw;
    left: 0pt;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-width: 0px;
    border-style: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    appearance: none;
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    cursor: pointer;
    margin: 0px;
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 20px;
    border-radius: 8px;
    padding: 14px 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(243, 243, 243);
}
button:hover {
    background-color: rgb(221, 221, 221);
}
button:active {
    background-color: rgb(198, 198, 198);
}
.card1 { left: calc(0vw); }
.card2 { left: calc((70vw - 150px) * 1/8); }
.card3 { left: calc((70vw - 150px) * 2/8); }
.card4 { left: calc((70vw - 150px) * 3/8); }
.card5 { left: calc((70vw - 150px) * 4/8); }
.card6 { left: calc((70vw - 150px) * 5/8); }
.card7 { left: calc((70vw - 150px) * 6/8); }
.card8 { left: calc((70vw - 150px) * 7/8); }
.card9 { left: calc(70vw - 150px); }

.red { color:#D40000; }
span {
    font-size: 1.4em;
    margin-right: 10px
}

@media (min-width: 840px) {
    .card1 { left: calc(0vw); }
    .card2 { left: calc((840px * 7/10 - 150px) * 1/8); }
    .card3 { left: calc((840px * 7/10 - 150px) * 2/8); }
    .card4 { left: calc((840px * 7/10 - 150px) * 3/8); }
    .card5 { left: calc((840px * 7/10 - 150px) * 4/8); }
    .card6 { left: calc((840px * 7/10 - 150px) * 5/8); }
    .card7 { left: calc((840px * 7/10 - 150px) * 6/8); }
    .card8 { left: calc((840px * 7/10 - 150px) * 7/8); }
    .card9 { left: calc(840px * 7/10 - 150px); }
    button {
        width: 588px;
    }
    .fan {
        width: 588px;
    }
    .container {
        width: 588px;
    }
}
